In [4]:
from pymongo import MongoClient
def create_collection(coll_name):
    client = MongoClient('mongodb://localhost:27017/')
    db = client.test
    result=db.create_collection(coll_name,
    validator= {
    "$jsonSchema": {
        "bsonType": "object",
        "title": "Teacher Object Validation",
        "required": ["name", "phone", "place"],
        "properties": {
            "name": {"bsonType": "string"},
            "phone": {"bsonType": "int"},
            "place": {"bsonType": "string"}
        }
    }
    } )

{'_id': ObjectId('63a192c5b5a42e76ac4032ba'), 'name': 'Ram', 'phone': 223344, 'place': 'Bengaluru'}
{'_id': ObjectId('63a192e1b5a42e76ac4032be'), 'name': 'Ram', 'phone': 223344, 'place': 'Bengaluru'}

In [22]:
create_collection('Student')

In [26]:
client = MongoClient('mongodb://localhost:27017/')
db = client.test
mycol=db['Sampath']

In [ ]:
dict={"name": "Ram", "phone": 223344, "place": "Bengaluru"}
mycol.insert_one(dict)

In [9]:
dict=[{"name": "Sam", "phone": 223355, "place": "Bengaluru"},
      {"name": "Jay", "phone": 223366, "place": "Chennai"}]
mycol.insert_many(dict)

In [10]:
for each in mycol.find():
    print(each)

{'_id': ObjectId('63a193fbb5a42e76ac4032c1'), 'name': 'Ram', 'phone': 223344, 'place': 'Bengaluru'}
{'_id': ObjectId('63a1946fb5a42e76ac4032c2'), 'name': 'Sam', 'phone': 223355, 'place': 'Bengaluru'}
{'_id': ObjectId('63a1946fb5a42e76ac4032c3'), 'name': 'Jay', 'phone': 223366, 'place': 'Chennai'}

In [20]:
for each in mycol.find({'place':"Chennai"}):
    print(each)

{'_id': ObjectId('63a1946fb5a42e76ac4032c3'), 'name': 'Jay', 'phone': 223366, 'place': 'Chennai'}

In [11]:
dict={"name": "Ram"}
mycol.delete_one(dict) 
for each in mycol.find():
    print(each)

{'_id': ObjectId('63a1946fb5a42e76ac4032c2'), 'name': 'Sam', 'phone': 223355, 'place': 'Bengaluru'}
{'_id': ObjectId('63a1946fb5a42e76ac4032c3'), 'name': 'Jay', 'phone': 223366, 'place': 'Chennai'}

In [29]:
for each in mycol.find():
    print(each)

{'_id': ObjectId('63a1946fb5a42e76ac4032c2'), 'name': 'Sam', 'phone': 223355, 'place': 'Bengaluru'}
{'_id': ObjectId('63a1946fb5a42e76ac4032c3'), 'name': 'Jay', 'phone': 223366, 'place': 'Chennai'}

In [36]:
mycol.update_one({'name': "Jay"},{'phone': 223377}) 
for each in mycol.find():
    print(each)

TypeError: 'Collection' object is not callable. If you meant to call the 'update' method on a 'Collection' object it is failing because no such method exists.