In [3]:
import warnings
warnings.filterwarnings('ignore')
# import the required libraries
import numpy as np
import pandas as pd
r_cols =['userid','movieid','ratings','unixtimestamp']

In [5]:
# read the dataset
df = pd.read_csv( "ua.base",sep='\t', names=r_cols, encoding='latin-1')

In [6]:
df.head()

   userid  movieid  ratings  unixtimestamp
0       1        1        5      874965758
1       1        2        3      876893171
2       1        3        4      878542960
3       1        4        3      876893119
4       1        5        3      889751712

In [ ]:
n_users=df.